@font-face {
  font-family: "03SmartFontUI";
  src: url("03SmartFontUI.ttf");
}

body {
    font-family: '03SmartFontUI', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, navy, black);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #66a0ff;
}

.hero {
    background: url('header.png') center/cover;
    color: white;
    text-align: center;
    padding: 2rem;
}

main {
    flex: 1;
}

.about {
    width: 90%;
    margin: 0 auto;
    padding: 32px;
    background-color: #fff; 
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
    border-radius: 32px;
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 4px solid #ddd;
}

.about h2,
.about p {
    margin-bottom: 10px;
    text-align: left;
}

h2{
    border-bottom: 4px solid #0a1573;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* テーブルの背景色 */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	 border-radius: 16px; /* 角を丸くする値を設定 */
    overflow: hidden; /* 内容が角をはみ出ないようにする */
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background: -moz-linear-gradient(top, navy, black);
    background: -webkit-linear-gradient(top, navy, black);
    background: linear-gradient(to bottom, navy, black);
    color: #fff; /* ヘッダー行の文字色 */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* 偶数行の背景色 */
}

/* 表内のリンクにスタイルを適用 */
table a {
    text-decoration: none;
    color: #3498db; /* テーブル内のリンクの色 */
    font-weight: bold;
}

/* リンクホバー時のスタイル */
table a:hover {
    text-decoration: underline;
}

footer {
    background: linear-gradient(to bottom, navy, black);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
